html {
	font-size: 100%;
	overflow: auto;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font: 15px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

#nav,h1,h2,h3,h4,h5,#webfollow,#twitter,#cv,#vid,.subscribe,.legp,.opensans,#myemb,.close,#webcam {
	font-family: "Open Sans",HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5 {
	font-weight: 400;
}

h4 {
	padding: 0;
	line-height: 1.2em;
	margin: 0 0 5px;
}

h5 {
	font-style: italic;
	padding: 0;
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.1em;
}

.shadow {
	text-shadow: 0 1px 1px #fff;
}

.gradient {
	background-color: #eee;
	background-image: 0;
	background-image: 0;
	background-image: 0;
	background-image: 0;
}

.center {
	text-align: center;
}

.gradient2 {
	background-color: #aaa;
}

.transition {
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

sup {
	color: #666;
	background: #f5f5f5;
	padding: 1px 2px;
	cursor: pointer;
}

iframe {
	border: 0;
}

.small {
	font-size: .8em;
}

.ulno {
	list-style: none;
	display: inline-block;
}

.ul0 {
	list-style: none;
	margin-top: 10px;
}

.ulno li {
	display: inline-block;
	vertical-align: top;
}

.ul0 li {
	display: block;
	line-height: 1.6em;
	margin-left: 5px;
}

.ul0 i {
	color: #666;
	margin-right: 10px;
}

.space {
	margin-right: 5px;
}

.spa {
	margin-top: 9%;
}

.hidden,.mob1 {
	display: none !important;
}

.bkgclear {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALv3r37zwjjgzhCQkKMYAEYB8RmROaABAAS4A/OBaAi1gAAAABJRU5ErkJggg==) repeat;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:active,a:hover {
	outline: 0;
}

a:focus {
	outline: thin dotted;
}

p a:hover {
	border-bottom: 1px dotted #00B4FF;
}

a img {
	outline: 0;
	border: 0;
}

u {
	text-decoration: none;
	background: #f7f7f7;
	padding: 0 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-shadow: 0 1px 1px #fff;
}

figure {
	margin: 40px 0 30px;
}

figure img {
	display: block;
	margin: 0 auto;
}

figcaption {
	text-align: center;
	font-size: 14px;
	color: #999;
}

figcaption:before {
	content: "Figure: ";
}

.justify {
	text-align: justify;
}

.none {
	display: none;
}

.nonei {
	display: none !important;
}

p,li {
	line-height: 1.4em;
}

h2 {
	text-transform: uppercase;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

h2 a,h3 a,h4 a,.f4 a,p a,#myemb a,#tweet a,.right a,.blue,li a {
	color: #19a0d9;
}

.legend {
	color: #777;
	font-size: .8em;
	text-align: center;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
	margin-left: 2px;
}

sub {
	bottom: -.25em;
}

.sep {
	text-align:center;
}

.sep li {
	color:#1096d5;
	width:20px;
}

strong,b,.bold {
	font-weight: 700;
}

.fixed {
	position: fixed;
	z-index: 999;
	top: 0;
}

.abs {
	position: absolute;
}

.blk {
	display: block;
}

/* COLORS */
.index .electric-bkg,.index .close:hover {
	background-color: #19a0d9;
}

.index .electric-txt {
	color: #19a0d9;
}

.about .sepm,.about .electric-bkg,.about .close:hover {
	background-color: #398bb3;
}

.about .electric-txt,.f1b .electric-txt,.about .electric-bkg .bor:hover, .about #remo:hover {
	color: #398bb3;
}

.icon-twitter.electric-txt,#soundcloud .electric-txt {
	color: #19a0d9;
}

.hacking .sepm,.purple-bkg,.hacking .close:hover {
	background-color: #551a8b;
}

.purple-txt,.f1b .purple-txt,.purple-bkg .bor:hover, .hacking #remo:hover {
	color: #551a8b;
}

.research .sepm,.green-bkg,.research .close:hover {
	background-color: #3dad75;
}

.green-txt,.f1b .green-txt,.green-bkg .bor:hover, .research #remo:hover {
	color: #3dad75;
}

/* END COLORS */

#nav {
	background-color: #1f1f1f;
	background-color: rgba(0,0,0,0.6);
	width: 96%;
	height: 45px;
	padding-left: 4%;
}

#logo {
	display: inline-block;
	float: left;
	width: 100px;
	height: 45px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyCAYAAACqNX6+AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90FEg8VMqS6RZwAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAv0lEQVR42u3a2xGDIBAFUMmkEPqvik42v+pMHghEHc4pAKJ3ssuqywIAAPBfaeTiERGbzVJKbvlnD7dAIAhEIAhEIAhEIFxlMNwPdT8vuBr+jq5Ru0/P39+6r3+IksVIz5kvPue8KT+llLhNID1qZ8saI/uRkoVABIJADIZfmnaP4fLdWjWD4f40VWt9+jIYKlkIhPoecvYXIy09pOekrocoWQgEgVzV8Mfvszylvc0p66xXqV7hIhAAAAAApvICQaRMQEbuBO0AAAAASUVORK5CYII=) no-repeat 0 -3px;
	transition: all 350ms ease-in-out;
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
}

#logo:hover {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyCAYAAACqNX6+AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wICRYpLIplXnUAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAuklEQVR42u3YSw6CMBQFUGrUZehQ978aHeoydFDHGonWflLsOTMiKTEX3i1MEwAAAAAAADQU5n6IMcafFgwh5K6Rep13TrtNlWsfr/dQM5CVe7IvAunMeuQ/f7jcno7P++1yAvk0s2uvUbOPjCwEIhAEMtQu65tSTS3tVkX9uptKPa/l7ssTYmQhkH/skBIvhjlr5vTNXAf0+KbuCTGyEIhAqF7qJYzyxXYxgfSmh12VkaVDAAAAAKCIB9apLTb5g6wkAAAAAElFTkSuQmCC) no-repeat 0 -3px;
}

#nav ul {
	list-style: none;
	display: inline-block;
	height: 45px;
	width: auto;
	float: right;
	margin: 0 8% 0 0;
}

#nav ul li {
	display: inline-block;
	width: auto;
	text-transform: uppercase;
	border-right: 0 solid rgba(0,0,0,.2);
	-webkit-background-clip: padding-box;
/* for Safari */
	background-clip: padding-box;
}

#nav li a {
	padding: 1px 23px 3px;
	color: #fff;
	font-size: 13px;
	line-height: 38px;
	font-weight: 400;
	display: inline-block;
	border-top: 3px solid transparent;
	outline: 0
}

.scr #nav, .scr #nav ul {
	height:33px
}


.scr #logo {
	transform: scale(.8);
	-ms-transform: scale(.8);
	-webkit-transform: scale(.8);
	margin-top:-5px
}

.scr #nav li a {
	line-height:25px
	}

#nav li:after {
	content: "|";
	color: rgba(0,0,0,0.25);
}

#nav li.last:after {
	content: "";
}

#nav li:hover a {
	border-top: 3px solid #000;
	background: rgba(0,0,0,0.95);
}

#nav li a.selected {
	cursor: text;
	background-color: transparent;
}

.about #nav li a.selected {
	border-top: 3px solid #398BB3;
}

.hacking #nav li a.selected {
	border-top: 3px solid #551a8b;
}

.research #nav li a.selected {
	border-top: 3px solid #3dad75;
}

.blog #nav li a.selected {
	border-top: 3px solid #ff6600;
}

#back-top {
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
	height: inherit;
	cursor: pointer;
	line-height: 50px;
	outline: 0;
}

#back-top:hover i {
	color: #bbb;
}

.picture,#artmap,#vid {
	clear: both;
}

.picture,#artmap {
	position: absolute;
	width: 100%;
	padding: 0;
	z-index: 0;
	height: 67%;
}

#artmap {
	background: url(../lib/loading.gif) #eee no-repeat 50% 35%;
	top: 45px;
}

.picture i {
	display: block;
	position: absolute;
	z-index: 3;
	top: 85%;
	right: 5%;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border-radius: 100%;
	background: rgba(0,0,0,.5);
	cursor: help;
	color: #fff;
}

.p1,.p0:hover,.feed li:hover .imm {
	filter: none;
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.p0,.feed li .imm,.p1:hover {
	filter: gray;
	filter: grayscale(100%);
	-webkit-filter: 1;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

#ab {
	background: url(../lib/ab.jpg) #eee no-repeat 0 75%;
}

#hac {
	background: url(../lib/ha.jpg) #eee no-repeat 0 40%;
}

#re {
	background: url(../lib/re.jpg) #eee no-repeat 0 42%;
}

#hac,#ab,#re {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.legp {
	position: absolute;
	width: 100%;
	left: 0;
	top: 10px;
	font-size: 1em;
	text-align: center;
	color: #fff;
}

/*INDEX*/
#intro {
	background-color: #eee;
}

#webcam {
	display: block;
	margin-top: -22%;
	width: 100%;
	height: 375px;
	background: url(../lib/imac.png) no-repeat top center;
	background-size: contain !important;
}

#camsignal {
	position: absolute;
	z-index: 3;
	width: 7px;
	height: 7px;
	line-height: 7px;
	border-radius: 3px;
	left: 50%;
	margin: 4px 0 0 -5px;
	font-size: 7px;
	text-align: center;
}

#camsignal.off {
	background-color: #555;
	color: #111;
}

#camsignal.on {
	background-color: #19a0d9;
	color: #003e58;
}

#vid {
	text-align: center;
	background-color: #000;
	width: 424px;
	height: 235px;
	left: 50%;
	position: absolute;
	margin: 15px auto 0 -212px;
	overflow: hidden;
}

#vid span {
	font-size: 2em;
	color: #fff;
	padding-top: 30px;
	display: block;
}

#vid p {
	margin-top: -45px;
	color: #444;
}

#webcambtn {
	line-height: 235px;
	display: block;
	color: #fff;
	font-size: 5em;
	margin: -65px 0 0 20px;
}

#webcambtn:hover {
	color: #ccc;
}

#vid video {
	width: 100% !important;
	height: auto !important;
	/*-webkit-filter: invert(100%);
	filter: url(#blur-effect-1);*/
}

.big {
	font-size: 1.6em;
	margin-top: ;
}

.sep,.sep2,.sepm {
	width: 130px;
	height: 7px;
	text-align: center;
}

.sep {
	margin: 25px auto;
}

.sep2 {
	margin: 35px auto 25px;
	background-color: #273138;
}

.sepm {
	margin: 35px auto;
	display: none;
}

.index .f3 {
	margin-top: .5%;
}

.feed {
	width: 100%;
}

.feed li {
	width: 29%;
	margin: 2% 2% 0;
}

.feed .imm {
	width: 100%;
	height: 130px;
	background-size: cover !important;
	border-radius: 2px;
	margin: 0 auto;
	text-align: center;
	line-height: 130px;
	overflow: hidden;
	clear: both;
}

.imm a {
	background-color: #273138;
	display: none;
	width: 90px;
	height: 30px;
	line-height: 30px;
	background: rgba(39,49,56,.78);
	color: #fff;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: .9em;
	text-align: center;
	margin: 50px auto;
}

.feed li:hover a {
	display: block;
}

.feed li .imm a:hover {
	background-color: #273138;
}

.feed h4 {
	text-transform: uppercase;
	margin: 15px 0 10px;
}

.index .f2 .feed h5 {
	text-transform: uppercase;
	font-size: .8em !important;
	border-bottom: 1px solid #eee;
	text-align: center;
	font-style: normal;
	margin-top: 10px;
	display: block;
	padding: 0 0 2px;
}

.feed p {
	font-size: .95em;
	opacity: 0.7;
	margin-top: 5px;
}

.feed li:hover p {
	opacity: 1;
}

.indd li {
	width: 29%;
	display: inline-block;
	margin: 0 2%;
}

.indd h4 {
	border-bottom: 2px solid #fff;
	padding-bottom: 7px;
}

.indd p,.indd a {
	font-size: .9em;
}

.indd a {
	text-align: center;
	width: 80px;
	height: 23px;
	line-height: 23px;
	float: right;
	color: #fff;
	display: block;
	margin-right: 3%;
	border-radius: 2px;
	border: 1px solid #19a0d9;
}

.indd a:hover {
	background-color: #171d21;
	color: #19a0d9;
}

.t {
	display: inline-block;
	color: #555;
	margin-left: 6px;
}

.t2 {
	display: none;
}

.wrap,.wrapper {
	position: absolute;
	background-color: transparent;
	width: 100%;
	z-index: 1;
	padding: 0;
}

.wrapper {
	top: 67%;
}

.index .wrapper {
	border-top: 15px solid #19a0d9;
}

.f00 {
	display: block;
	position: absolute;
	z-index: 9;
}

.f00 i {
	height: 55px;
	width: 55px;
	line-height: 55px;
	border-radius: 55px;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.f1 .f00 {
	width: 100%;
	margin-top: -15px;
}

.f1 .f00 i {
	background-color: #fff;
	color: #ccc;
}

#remo {
	display: block;
	white-space: nowrap;
	float: right;
	font-size: .9em;
	background-color: transparent;
	height: 20px;
	line-height: 20px;
	padding: 0 0 0 3px;
	border-radius: 4px;
	border: 1px solid #fff;
	margin: 15px 8px 0 0;
	color:#fff;
}

#remo:hover {
	background-color: #fff;
}

i.xl {
	font-size: 55px;
}

i.sm {
	font-size: 35px !important;
}

.f4 .f00 {
	width: inherit;
	margin-top: -35px;
	text-align: center;
}

.f4 .f00 i {
	background-color: #fff;
	border: 1px solid #e8e8e8;
	font-size: 40px;
	display: block;
}

.f4 .f00 i:hover {
	color: #bbb;
}

.f1 {
	color: #fff;
	margin-top: 0;
	padding: 15px 0 10px;
}

.f1a {
	min-width: 160px;
}

.f1b {
	width: 75%;
	max-width: 780px;
}

.f1a .bor {
	display: inline-block;
	margin-top: 25px;
	border: 2px solid #fff;
	border-radius: 4px;
	padding: 2px 8px;
	color: #fff;
	font-size: .9em;
}

.f1a .bor:hover {
	background-color: #fff;
}

.socials {
	margin-top: 25px;
}

.socials a {
	display: inline-block;
	color: #fff;
	opacity: 0.75;
	margin: 0 5px;
	font-size: 1.1em;
}

.socials a:hover {
	opacity: 1;
}

.f1b a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}

.f1b a:hover {
	border-bottom: 1px solid #fff;
}

.f1 h3 {
	display: inline;
	border-bottom: 1px solid #fff;
}

.f2,.f3,.f4 {
	width: 100%;
	position: relative;
	height: auto;
}

.f2 {
	background-color: #fff;
	padding: 1% 0;
}

.f2 p {
	line-height:1.5em
	}

.index .f2 h5 {
	color: #bbb;
	font-size: .9em;
	text-align: center;
	margin-top: -18px;
	padding: 0;
}

.f3 {
	background-color: #273138;
	margin: 3% auto 0;
	padding: 1.5% 0;
	color: #fff;
}

.f4 {
	background-color: #f3f3f3;
	margin: 0 auto;
	text-align: center;
	color: #444;
	border-bottom: 1px solid #e8e8e8;
}

.f1 div,.f2 .w,.f3 .w,.f4 .w {
	width: 90%;
	margin: 0 auto;
	padding: 15px 0 20px;
}

.f4 #sc.w {
	padding-top: 5px;
}

.f4 #sc.w a {
	color: #555;
}

.f1 div {
	max-width: 960px;
}

.f2 .w {
	margin-top: 1%;
	padding-bottom: 0;
	max-width: 1320px;
}

.f3 .w {
	padding-bottom: 35px;
}

.f4 .w {
	padding: 20px 0 45px;
}

.f2 .left {
	width: 47%;
	padding-right: 2.8%;
	border-right: 1px dotted #dadada;
}

.f2 .right {
	width: 47%;
	padding-left: 3%;
}

.f2 h3,.f3 h3 {
	text-align: center;
}

.f2 h3 i {
	border-right: 3px solid #dadada;
	color: #bbb;
	font-size: 1.1em;
	padding-right: 6px;
	margin-right: 10px;
}

.index .f2 h3 i {
	border: none;
}

.f3 h3 {
	min-width: 240px;
	max-width: 300px;
	margin: 10px auto 2%;
	padding: 6px 0;
	border: 2px solid #fff;
	border-radius: 5px;
}

.f3 .ulno {
	margin: 1% auto;
	width: 100%;
}

.f3a {
	text-align: right;
	width: 47.5%;
	padding: 1% 2% 0 0;
	height: auto;
}

.ta,.tb {
	position: absolute;
	display: block !important;
	font-size: 1.4em;
	width: 30px;
	height: 30px;
	left: 50%;
	color: #f5f5f5;
	text-align: center;
}

.ta {
	margin: -2.5% 0 0 -12px;
}

.tb {
	bottom: 6%;
	margin-left: -15px;
}

i sup {
	background-color: transparent;
	font-style: italic;
	font-family: serif;
}

.f3b {
	text-align: left;
	width: 48.5%;
	border-left: 1px solid #fff;
	padding-left: 2%;
	margin: 8px 0 0 -1px;
	font-size: .85em;
	min-height: 60px;
}

.f3b p {
	max-width: 500px;
}

.projects .ulno {
	margin-bottom: 1.5%;
}

.projects .ulno:nth-child(even) .f3a {
	width: 30%;
}

.projects .ulno:nth-child(odd) .f3a {
	width: 38%;
}

.projects .f3b {
	background-color: #171d21;
	color: #ccc;
	border-radius: 5px;
	padding: 1% 1.8%;
	border-left: 3px double #19a0d9;
}

.trait {
	width: 20px;
	height: 6px;
	background-color: #19a0d9;
	margin-top: 20px;
}

/* f4 */
#tweet {
	display: block;
}

.btt {
	display: inline;
	background-color: #c1c1c1;
	padding: 4px 4px 4px 7px;
	border-radius: 4px;
	font-size: .8em;
	color: #fff;
}

.btt a {
	color: #fff !important;
}

/* Footnotes */
#footnotes {
	position: fixed;
	width: 90%;
	height: auto;
	padding: 0 5%;
	z-index: 3;
	bottom: 0;
	background: #e5e5e5;
	color: #666;
	font-size: .8em;
}

#footnotes p {
	line-height: 1.2em;
}

#footnotes sup {
	margin-right: 5px;
}

#footnotes i {
	margin-left: 25px;
}

#footnotes i.ni {
	margin-left: 0;
}

/* FOOTER */
#footer {
	background-color: #fff;
	color: #aaa;
	text-transform: uppercase;
	font-size: .8em;
	padding: 40px 0 20px;
	width: 100%;
	margin: 0 auto;
}

#footer a {
	color: #aaa;
}

#footer a:hover {
	border-bottom: 1px solid #bbb;
}

#footer ul {
	width: 100%;
	text-align: center;
}

#footer li {
	display: inline;
}

#footer li:before {
	content: "/";
	margin: 0 6px;
}

#footer li:first-child::before {
	content: "";
	margin-left: 0;
}

/* CONTACT BOX & LIGHTBOX */
#lightbox div {
	width: 90%;
	height: 85%;
	background-size: contain !important;
	margin: 1.5% auto 0;
}

#contact-box,#lightbox {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	line-height: 2.2em;
	vertical-align: middle;
	top: 0;
	text-align: center;
	background-color: #222;
	background-color: rgba(0,0,0,0.85);
	overflow: hidden;
	color: #888;
}

.close {
	top: 0;
	display: block;
	background: #000;
	width: 100%;
	height: 45px;
	margin: 0 auto;
	line-height: 45px;
	color: #fff;
}

.close:hover .icon-eye-open,.close .icon-eye-close {
	display: none;
}

.close:hover .icon-eye-close {
	display: inline-block;
}

#contact-box .insi {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 140px;
	width: 260px;
	margin-left: -130px;
	margin-top: -70px;
}

.insi #myemb a {
	font-size: 1.7em;
	color: #fff;
}

.insi #myemb a:hover {
	text-decoration: underline;
}

.contact-active {
	-webkit-filter: blur(10px);
	filter: blur(10px);
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
}

.contact-active .p1 {
	filter: gray;
	filter: grayscale(100%);
	-webkit-filter: 1;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

#contact-box #close {
	float: right;
	margin: 4% 4% 0 0;
	color: #666;
}

#contact-box #close:hover {
	color: #222;
}

#contact-box .socials {
	width: auto;
	margin: 0 auto 0 10px;
	display: inline-block;
	list-style: none;
}

#contact-box li {
	display: inline-block;
}

#contact-box li a {
	color: #fff;
}

#contact-box .socials li a {
	font-size: 2.2em;
}

.facebook:hover {
	color: #3b5998;
}

.twitter:hover {
	color: #00bef6;
}

.linkedin:hover {
	color: #449ac8;
}

.googleplus:hover {
	color: #c7472c;
}

#contact-box li a:hover .github {
	color: #551a8b;
}

/* SCROLLBARS */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: #e1e1e1;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
	background-color: #ccc
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

::-webkit-scrollbar-corner {
	background-color: #fff;
}

/* MOBILE */
@media only screen and (max-width: 49em) {
	#nav {
		height: auto;
		background-color: #1f1f1f;
		width: 100%;
		padding: 0;
		margin: 0;
		position: absolute;
	}
	
	.picture {
		margin-top: 40px;
		background-position: 45% -40px !important;
	}
	
	#logo {
		display: block;
		position: relative;
		float: none;
		text-align: center;
		width: 90px;
		margin: 0 auto;
	}
	
	#nav ul {
		margin: 0 auto;
		text-align: center;
		font-size: 14px;
		padding: 0;
		width: 100%;
		height: 40px;
	}
	
	#nav ul li {
		border: 0;
		height: inherit;
		line-height: 40px;
		vertical-align: top;
	}
	
	#nav li.mob:after,#nav li.lastm:after {
		content: "";
	}
	
	#nav li a {
		padding: 0 8px;
		margin: 0;
		height: 30px;
		line-height: 30px;
		font-size: 80%;
	}
	
	#nav li:after {
	content: "";
	}
	
	#nav li:hover a {
		border-top: 0;
		border-bottom: 5px solid #000;
	}
	
	.about #nav li a.selected {
		border-bottom: 5px solid #398BB3;
		border-top: 0;
	}
	
	.hacking #nav li a.selected {
		border-bottom: 5px solid #551a8b;
		border-top: 0;
	}
	
	.research #nav li a.selected {
		border-bottom: 5px solid #3dad75;
		border-top: 0;
	}
	
	.index .f2 {
		padding-bottom: 1.5%;
	}
	
	.f2 {
		padding-bottom: 30px;
	}
	
	.f2 .big {
		font-size: 1.3em;
	}
	
	.index .f2 h5 {
		font-size: .85em;
	}
	
	.index .feed li,.indd li {
		display: block;
		width: 100%;
		margin: 2% 0 50px;
	}
	
	.indd .mm {
		float: none;
		width: 200px;
		padding: 4px 0;
		margin: 20px auto 0;
	}
	
	.indd h4 {
		border-bottom: 1px solid #fff;
	}
	
	.f1 {
		padding: 0 0 15px;
	}
	
	.f1a {
		width: 100%;
	}
	
	.f1a h3 {
		display: block;
		text-align: center;
		margin: 5px auto -2px;
		width: 200px;
		padding: 6px 0;
		border: 2px solid #fff;
		border-radius: 5px;
	}
	
	.sepm {
		display: block;
	}
	
	.f2 .right h3 {
		text-align: center;
		display: block;
	}
	
	.cen li {
		text-align: center;
	}
	
	.nob {
		border: 0 !important;
		width: 100% !important;
		float: none;
		display: block;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.mob,.sc-player h4,#infopic {
		display: none !important;
	}
	
	.mob1 {
		display: inline-block !important;
	}

}
