body {
    background: #111;
}

.hide {
    display: none;
}

.blue {
    margin-right: 5px;
}

#wishes {
    font: 15px "Courier New", Courier, monospace;
    margin: 10% 5% 0 10%;
    color: #fff;
}

#wishes p {
    color: #aaa;
}

#wishes ul {
    list-style-type: none;
}

#wishes li {
    margin-bottom: 4px;
}

#welcome,#loading {
    color: #888;
}

#skip {
    height: 20px;
}

#inp {
    color: #0F0;
}

#fname {
    display: inline-block;
    position: absolute;
    margin: -1px 0 0 420px;
    font: 15px "Courier New", Courier, monospace;
    border: none;
    background: transparent;
    outline: none;
    color: #0F0;
    width: auto;
    text-transform: capitalize;
}

#submit {
    visibility: hidden;
}

#msg {
    position: absolute;
    background-size: cover !important;
    width: 100%;
    height: 100%;
}

#msg h1 {
    color: #fff;
    font-size: 240%;
    margin: 4% 0 0 3%;
}

#msg h2 {
    color: #aaa;
    font-size: 135%;
    margin: 2% 0 0 3%;
    text-shadow: 0 0 0 #aaa;
    text-align: left !important;
}

#play {
    position: absolute;
    width: 100%;
    height: 80px;
    text-align: center;
    top: 45%;
    z-index: 10;
    font: 200% "Open Sans",Helvetica,Arial,sans-serif;
    color: #fff;
}

#play i {
    vertical-align: center;
    cursor: pointer;
    opacity: 0.65;
    font-size: 200%;
}

#play i:hover {
    opacity: 1;
}

#video {
    position: absolute;
    width: 100%;
    top: 18%;
    text-align: center;
    z-index: 20;
    display: block;
}

#notice {
    position: absolute;
    z-index: 30;
    width: 100%;
    top: 4%;
    text-align: center;
    color: #fff;
    font-size: 200%;
}

#frame {
    border: 15px solid #000 !important;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#details {
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 300px;
    height: 45px;
    background-color: transparent;
    background: rgba(0,0,0,0.65);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 15px;
    font-size: 85%;
    color: #aaa;
}

#sign {
    margin-top: 7px;
    color: #666;
}

#sign ul li {
    display: inline-block;
}

#sign li:first-child {
    margin-right: 8px;
}

#footer {
    position: absolute;
    bottom: 0;
}
